// VARIABLES
$primary-color-dark:#1E1F4B;
$primary-color-light: #EFEBF7;
$accent-color: #f7bf68;
$font-main: "Montserrat", sans-serif;
$font-accent: "Aleo", serif;
$font-title: "Playfair Display", serif;

// RESET Y ESTILOS GLOBALES
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    background-color: $primary-color-light;
} 

.main-nav ul li a{
    text-decoration: none;
    color: $primary-color-dark;
    font-family:$font-accent;
}

body{
    color: $primary-color-light;

    h2{
        font-family: $font-title;
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    h3{
        font-family: $font-main;
        font-weight: normal;
        font-size: 2rem;
        margin-bottom: 0.75rem;
    }

    h4{
        font-family: $font-accent;
        font-weight: normal;
        font-size: 1rem;
    }
    p{
        font-family: $font-main;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
}

.parrafo-img-oscuro{
    background-color: #1E1F4B;
    h2, h3, h4, p{
        color: $primary-color-light;
    }
}

.parrafo-img-blanco{
    h2 {
        color: #4d4093;
    }
    h3, h4, p{
        color: $primary-color-dark;
    }
}

.hero {
    h1{
        font-family: $font-title;
        color: $primary-color-light;
        font-size: 6rem;
        line-height: normal;
        margin-bottom: 2.25rem;
    }

    p{
        font-family: $font-main;
        color: $primary-color-light;
        font-size: 1.5rem;
    }
}

.formulario {
    font-family: $font-main;
    color: $primary-color-dark;
    background-color: $primary-color-light;
}

.input-form {
    font-family: $font-main;
    font-size: 1rem;
}

input[type="submit"] {
    font-family: $font-accent;
    background-color: $accent-color;
    color: $primary-color-dark;
    &:hover{
        background-color: #C27A0A;
        color: $primary-color-light;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

.site-footer,
.site-footer * {
    background-color: $primary-color-light;
    font-family: 'Aleo', serif !important;
    font-size: 0.95rem !important;
}
.text-footer {
    color: $primary-color-dark;
    p {
        margin: 0;
        margin-bottom: 0.25em;
    }
    p:last-child {
        margin-bottom: 0;
    }

}

.lista-redes-footer li {
    font-family: $font-accent;
    color: $primary-color-dark;
    font-size: 0.5rem;
}

//CALL TO ACTION
.call-to-action {
    font-family: $font-accent;
    color: $primary-color-dark;
    background-color: $accent-color;
    border-style: none;
    text-decoration: none;
    font-size: medium;
    display: inline-flex;
    height: 3rem;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;
    border-radius: 3rem;
    margin-top: 2.25rem;

    &:hover{
        background-color: #C27A0A;
        color: $primary-color-light;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}