@use 'base' as *;
@use 'layout';
/*Media query para tablet */

@media (max-width: 1024px) {
    .site-header{
        display: inline-flex;
        height: 4rem;
        width: 100%;
        padding: 0.625rem 3.125rem;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    } 
    .logo {
    display: flex;
    width: 11rem;
    height:3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    
    img {
        height: 1.8rem;
        flex-shrink: 0;
        aspect-ratio: 181.50/29;
    }
}
.nav-toggle {
    display: none; // Oculta el botón en desktop
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;  
    font-size: 0.75rem;
}

//ESTILOS DE HERO SECTION
.hero {
    display: flex;
    justify-content: center;
    height: 24rem;
    padding: 4rem 3.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    text-align: left;
    background-size: cover;
    background-position: center;
    border-radius:0 0 9rem 9rem;
    flex-shrink: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    align-items: flex-start;
    gap:1rem;
    padding-block:3.25rem;
    padding: clamp(1rem, 3vw, 3.5rem);
    box-sizing: border-box;
    h1{
        align-self: stretch;
        font-size: 3rem;
        line-height: normal;
    }
    p{
        align-self: stretch;
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 0;
    } 
    p:last-of-type {
        margin-top: 0;
    }
    }
}



