//SECCIONES DE TEXTO CON IMAGENES A UN LADO
.text-side-image-section {
    display: grid; 
    padding: 7.5rem 6.25rem;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}
.text-left-image-section {
    @extend .text-side-image-section;
    grid-template-columns: 2fr 1fr; // Texto a la izquierda, imagen a la derecha
    gap:5rem;
}

.text-right-image-section {
    @extend .text-side-image-section;
    grid-template-columns: 1fr 2fr; // Imagen a la izquierda, texto a la derecha
    gap: 6.25rem;
}

