//IMAGENES DE FONDO
.hero-home {
    background-image: url('../assets/img/hero-images/hero-img-home.png');

}

.hero-nosotros {
    background-image:url('../assets/img/hero-images/hero-img-nosotros.png') ;
}

.hero-contact {
    background-image: url('../assets/img/hero-images/hero-img-contacto.png');
}

.hero-gallery {
background-image: url('../assets/img/hero-images/hero-img-galeria.png');
}

.hero-menu {
    background-image: url('../assets/img/hero-images/hero-img-menu.png');
}