/*Media query para tablet */

@media (max-width: 1024px) {
    .site-header{
        display: inline-flex;
        height: 4rem;
        width: 100%;
        padding: 0.625rem 3.125rem;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    } 
    .logo {
    display: flex;
    width: 11rem;
    height:3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    
    img {
        height: 1.8rem;
        flex-shrink: 0;
        aspect-ratio: 181.50/29;
    }
}
.nav-toggle {
    display: none; // Oculta el botón en desktop y tablet
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;  
    font-size: 0.75rem;
}

//ESTILOS DE HERO SECTION
.hero {
    display: flex;
    justify-content: center;
    height: 24rem;
    padding: 4rem 3.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    text-align: left;
    background-size: cover;
    background-position: center;
    border-radius:0 0 9rem 9rem;
    flex-shrink: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    align-items: flex-start;
    gap:1rem;
    padding-block:3.25rem;
    padding: clamp(1rem, 3vw, 3.5rem);
    box-sizing: border-box;
    h1{
        align-self: stretch;
        font-size: 2.75rem;
        line-height: normal;
    }
    p{
        align-self: stretch;
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 0;
    } 
    p:last-of-type {
        margin-top: 0;
    }
    }
body{
    
    h2{
        font-size: 2rem;
        line-height: normal;
    }
    h3{
        font-size: 1.5rem;
        line-height: normal;

    }
    h4{
        font-size: 1.25rem;
    }
     p{
        font-size: 1rem;
     }
}
 /*Estilos de contenido*/ 
    
.img-content-text-left{
    display: inline-block;
    text-align: center;
}

.text-side-content{
display: flex;
flex-direction: column;
align-items: flex-start;
}

//SECCIONES DE TEXTO CON IMAGENES A UN LADO

.text-left-image-section,
.text-right-image-section {
    display: grid; 
    padding: 3rem 2.25rem;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr; // Texto a la izquierda, imagen a la derecha
    gap:1.5rem;
}

.text-side-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    p{
        align-content: flex-start;
    }
}
.img-content-text-left{
    display: flex;
    align-items: center;
     img {
        width: 100%;
        height: auto;
     }
}
.img-content-text-right{
    display: flex;
    align-items: center;
    img{
        width:100%;
        height: auto;
    }
}
.call-to-action {
    height: fit-content;
    font-size: 80%;
}

//LAYOUT DE DOS COLUMNAS

.grid-header{
    display: flex;
    padding: 0 2.25rem;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
}

.two-column-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2.25rem;
    gap: 1rem;
    align-items: start;
}

.two-column-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    height: 100%;
    max-width: 100%;
    gap: 0.25rem;
    margin-bottom: 2rem;
    img {
         max-width: 100%;
         height: auto;
    }
    img:last-of-type {
        margin-bottom: 0.25rem;
    }
    h3{
        margin: 0;
    }
    p {
        max-width: 95%;
        margin: 0;
    }
}
.menu-estandar{
    margin-bottom: 3rem;
}
.gallery-content {
    margin-top: 5rem;
}

.platos-especiales{
    padding: 2rem 0;
}

//SECCION STAFF

.staff-section{
  padding: 6.25rem 6.25rem;
  text-align: start;  
  width: 100%;
}

.staff-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    
}

.staff-card {
    align-items: center;
    img {
        align-items: center;
        width: 80%;
        margin-bottom: 2.25rem;
    }
}
.staff-text {
 h4 {
    margin-bottom: 2.25rem;
    text-align: left;
    }

}
  
.cta-final-staff{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

//PAGINA DE CONTACTO
.contact-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 2.25rem;
}

.formulario {
    width: 100%;
    max-width: 1024px;
}


//FOOTER 

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 6.25rem;
  gap: 2rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.logo-footer {
    height: 2.5rem
    
}

.lista-redes-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 80%;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    li {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    
    }
    p{
        margin: 0;
        line-height: 1;
        display: flex;
        align-items: center;
    }
    img {
        height: 1rem;
        width: auto;   
        display:block ;
        
        
    }
}
}